.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  height: 400px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  background-size: cover;
}

#more-info {
  position: absolute;
  bottom: 0;
  margin: 10px;
  border-radius: 5px;
}
